<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wiki Reader</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">
  <header class="header">
    <h1><i class="fa fa-wikipedia-w"></i>reader <i class="fa fa-rss"></i></h1>
  </header>
  <div class="container">

    <div class="search-container">
      <p class="instructions">Let's go find some articles!</p>
      <input placeholder="type a keyword in here!" ng-model="inputString">
      <button ng-click="loadWiki(inputString)">Search</button>
      <button>Random</button>
    </div>

    <div class="results">
<!--      <p> {{ wikiData }} </p>-->
      <ul ng-repeat="item in wikiData">
        <li ng-repeat="detail in item"> {{ detail }} </li>
      </ul>
    </div>





  </div>









  <script src="js/lib/jquery-1.11.3.min.js"></script>
  <script src="js/lib/knockout-3.2.0.min.js"></script>

  <script src="js/app.js"></script>


</body>



</html>